<div id="cajaPerfil" class="container-expand fondo1">
    <button id="botonPerfil">Editar perfil</button>

    <br> <br> <br>

    <h2>Información base</h2>
    <div class="columnas">
        <div id="izquierda">
            <h3>Nombre</h3>
            <h3>Fecha de nacimiento</h3>
        </div>
        <div id="centro">
            <h3>Edad(en años)</h3>
            <h3>Sexo</h3>
        </div>
        <div id="derecha">
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Correo electrónico</h3>
        </div>
    </div>

    <br> <br> <br>
    
    <h2>Información médica</h2>
    <div class="columnas">
        <div id="izquierda">
            <h3>Estatura(cm)</h3>
            
        </div>
        <div id="derecha">
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Peso(kg)</h3>
            
        </div>
    </div>

    <br> <br> <br>

    <h2>Comorbilidades</h2>
    <div class="columnas">
        <div id="izquierda">
            <h3>¿Presenta enfermedades cardíacas?</h3>
            <h3>¿Tiene alguna alergia?</h3>
        </div>
        <div id="centro">
            <h3>¿Presenta enfermedades respiratoria?</h3>
            <h3>¿Tienes enfermedades degenerativas?</h3>
        </div>
        <div id="derecha">
            <h3>¿Presenta enfermedades respiratoria?</h3>
        </div>
    </div>
    
    <br> <br> <br>

    <h2>Deportes</h2>
    <div class="columnas">
        <div id="izquierda">
            <h3>¿Te gusta el fútbol?</h3>
            <h3>¿Te gusta bailar salsa?</h3>
        </div>
        <div id="centro">
            <h3>¿Te gusta jugar baloncesto?</h3>
            <h3>¿Te gusta bailar zumba?</h3>
        </div>
        <div id="derecha">
            <h3>¿Te gusta el boleyball?</h3>
            <h3>¿Te gusta bailar folklor?</h3>
        </div>
    </div>

    <!-- <button class="btn btn-sm btn-danger" (click)="deleteCorreo()" >Borrar cuenta</button>--> 
    
</div>
